{% extends "layout.html" %}
{% block content %}
{% if message %}
<div>{{ message }}</div>
{% endif %}
<form action="{% url 'login' %}" method="post" style="width: 50%; margin:auto;">
    <h2>Login</h2><br>

    {% csrf_token %}
    
    <div class="form-group" >
        <input autofocus class="form-control" type="text" name="username" placeholder="Username">
    </div><br>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <br>
    <input class="btn btn-primary d-flex justify-content-center" type="submit" value="Login">
    <hr>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>

</form>
{% endblock content%}