{% extends "layout.html" %}
{% block content %}
{% if message %}
<div>{{ message }}</div>
{% endif %}
<form action="{% url 'register' %}" method="post" style="width: 50%; margin:auto;">
    <h2 style="text-align: center; margin:50px">Create Account</h2>

    {% csrf_token %}
    <div class="form-group">
        <input class="form-control" autofocus type="text" name="username" placeholder="Username">
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" type="email" name="email" placeholder="Email Address">
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
    </div>
    <br>
    <div class="form-group">
        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
    </div><br>
    <input class="btn btn-primary d-flex justify-content-center" type="submit" value="Register" style="margin: auto;" >
    <hr>
    <div class="d-flex justify-content-center">Already have an account? </div>
    <a href="{% url 'login' %}" class="d-flex justify-content-center">Log In here.</a>
</form>
{% endblock content%}